bucket         = "oficina-mecanica-fiap-terraform-state"
key            = "kubernetes/dev/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "oficina-mecanica-fiap-terraform-locks"
encrypt        = true
